/******
	Add you style rules below in this file 
	
	Requirements:
	The main container should be 500px wide and centered.
	
	Colors:
	dark orange color: #DB4006
	light orange color: #ec9371

******/

.container{
    width: 500px;
    margin: auto;
}

.collapsible {

  background-color: #DB4006;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #DB4006;
}

.collapsible:after {
  content: 'x';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "x";
}

.content {
  padding: 0 18px;
  width: 93%;
  max-height: 0;
  margin: 0px 5px;
  overflow: hidden;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  background-color: #ec9371;
}

.template {
    display:none;
}
